.concluido{
    text-decoration: line-through;
}
button{
    width: 100px;
    
}
th:first-child {
    width: 80%;
}

.ordenar-tarefa {
    cursor: pointer;
  }
  #div-input {
    display: flex;
    justify-content: center;
}

#search-field {
    width: 60%;
}

.mask-custom {
    backdrop-filter: blur(15px);
    background-color: rgba(41, 41, 41, 0.2);
    border-radius: 2em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.03);
}